---
import A1 from "@/sections/en/home/A1";
import A2 from "@/sections/en/home/A2";
import A3 from "@/sections/en/home/A3";
import Next from "@/components/Next.tsx";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-10">
    <A1 />
    <A2 />
    <A3 />
  </div>
  <Next title="Manifesto" href="/manifesto" />
</Layout>
