---
import A1 from "@/sections/home/A1";
import A2 from "@/sections/home/A2";
import A3 from "@/sections/home/A3";
import Next from "@/components/ui/Next";
import Layout from "@/layouts/Layout.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <div class="flex flex-col gap-10">
    <A1 />
    <A2 t={t} translatePath={translatePath} />
    <A3 t={t} />
  </div>
  <Next title="Manifesto" href={translatePath("/manifesto")} />
</Layout>
