---
import Next from "@/components/Next.tsx";
import Layout from "@/layouts/Layout.astro";
import D2 from "@/sections/en/people/D2";
import D3 from "@/sections/en/people/D3";
import D4 from "@/sections/en/people/D4";
---

<Layout>
  <div class="flex flex-col gap-10 pt-30">
    <D2 />
    <D3 />
    <D4 />
  </div>
  <Next title="Apply" href="/apply" />
</Layout>
