---
import Layout from "@/layouts/Layout.astro";
import E1 from "@/sections/apply/E1";
import E2 from "@/sections/apply/E2";
// import E3 from "@/sections/apply/E3";
import E4 from "@/sections/apply/E4";
---

<Layout>
  <div class="flex flex-col gap-10">
    <E1 />
    <E2 />
    <!-- <E3 /> -->
    <E4 />
  </div>
</Layout>
