---
import Next from "@/components/ui/Next";
import Layout from "@/layouts/Layout.astro";
import B1 from "@/sections/manifesto/B1";
import B2 from "@/sections/manifesto/B2";
import B3 from "@/sections/manifesto/B3";
// import B4 from "@/sections/zh/manifesto/B4";

import { getImage } from "astro:assets";
import b2_a from "@/assets/b2/a.png";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const b2_a_Image = await getImage({
  src: b2_a,
  format: "webp",
});
---

<Layout>
  <div class="flex flex-col gap-10 pt-30">
    <B1 t={t} />
    <B2 t={t} imageSrc={b2_a_Image.src} />
    <B3 t={t} />
    <!-- <B4 /> -->
  </div>
  <Next title="Portfolio" href={translatePath("/portfolio")} />
</Layout>
