---
import Next from "@/components/ui/Next";
import Layout from "@/layouts/Layout.astro";
import D1 from "@/sections/people/D1";
import D2 from "@/sections/people/D2";
import D3 from "@/sections/people/D3";
import D4 from "@/sections/people/D4";

import { getImage } from "astro:assets";
import d1_a from "@/assets/d1/a.webp";
import d1_b from "@/assets/d1/b.svg";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const d1_a_Image = await getImage({
  src: d1_a,
  format: "webp",
});

const d1_b_Image = await getImage({
  src: d1_b,
  format: "svg",
});
---

<Layout>
  <div class="flex flex-col gap-20">
    <D1 imageSrc={d1_a_Image.src} imageSrcB={d1_b_Image.src} />
    <D2 />
    <D3 />
    <D4 t={t} />
  </div>
  <Next title="Apply" href={translatePath("/apply")} />
</Layout>
