---
import Layout from "../layouts/Layout.astro";
import E2 from "@/sections/apply/E2.tsx";
import E3 from "@/sections/apply/E3.tsx";
import E4 from "@/sections/apply/E4.tsx";
---

<Layout>
  <div class="flex flex-col gap-10 pt-30">
    <E2 />
    <E3 />
    <E4 />
  </div>
</Layout>
