---
import Next from "@/components/Next.tsx";
import Layout from "../layouts/Layout.astro";
import C1 from "@/sections/portfolio/C1.tsx";
import C2 from "@/sections/portfolio/C2.tsx";
import C3 from "@/sections/portfolio/C3.tsx";
import C4 from "@/sections/portfolio/C4.tsx";
---

<Layout>
  <div class="flex flex-col gap-10 pt-30">
    <C1 />
    <C2 />
    <C3 />
    <C4 />
  </div>
  <Next title="People" href="/people" />
</Layout>
