@import "tailwindcss";

:root {
  --background: #faf9f5;
  --foreground: #020617;

  --black: #000000;
  --orange: #fe7600;
  --gray: #7a7979;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-mobai-black: var(--black);
  --color-mobai-orange: var(--orange);
  --color-mobai-gray: var(--gray);

  --animate-scroll-infinite: scroll-infinite 16s linear infinite;
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
